<div class="article-widget">
    <p><b>¿Te gustó?</b></p>
    <p><a href="https://ko-fi.com/X8X420K04">puedes apoyarme con un café.</a>
    <div class="center" style="text-align: center;">
        <span id="koffe_embeded">
            <script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script>
            <script
                type='text/javascript'>kofiwidget2.init('Invítame a un Ko-fi', '#29abe0', 'X8X420K04'); kofiwidget2.draw();</script>
    </div>
    </p>

    <p>
        <script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
        <script>
            kofiWidgetOverlay.draw('lnds', {
                'type': 'floating-chat',
                'floating-chat.donateButton.text': 'Apóyame',
                'floating-chat.donateButton.background-color': '#00b9fe',
                'floating-chat.donateButton.text-color': '#fff'
            });
        </script>
    </p>
    <hr>
</div>